* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px 20px;
  background-color: #f2f4f6;
}

h1 {
  color: #ae685a;
  font-weight: 400;
}

.date-picker {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 5px;
  height: 30px;
  background-color: white;
  border: solid 1px gainsboro;
  border-radius: 3px;
}

.date-picker:focus {
  outline: none;
}

.calendar {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: calc(var(--calendar-size) * 1px);
  font-size: calc(var(--calendar-size) * 0.05px);
  box-shadow: 0px 0px 5px 5px gainsboro;
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--calendar-size) * 0.225px);
  background-color: #44c379;
  color: white;
}

.calendar-nav > div {
  text-align: center;
}

.calendar-nav > div p:first-child {
  font-size: calc(var(--calendar-size) / 210 * 14px);
}

.calendar-nav > div p:last-child {
  font-size: calc(var(--calendar-size) / 210 * 8px);
}

.calendar-nav-txt {
  display: flex;
  flex-direction: column;
}

.calendar-grid {
  display: grid;
  grid-template-rows: repeat(7, 1fr); /* 1fr 크기의 행을 7개 가진다 */
  grid-template-columns: repeat(7, 1fr); /* 1fr 크기의 열을 7개 가진다 */
  margin: 5px;
}

.calendar-grid div {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day,
.last-month-date,
.next-month-date {
  color: #bdbdbd;
}

.hovered {
  border-radius: 50%;
  background-color: #44c379;
  color: white !important;
}

i,
.date,
.date-picker {
  cursor: pointer;
}
